:root{
    --my-color: rgba(85, 151, 148, 1);
    --my-size: min(18px, 3.8vw);
    --bottoms: min(12px, 2.5vw);
}

.board{
    display: grid;
    grid-template-columns: min(128px, 30vw) min(128px, 30vw) min(128px, 30vw);
    grid-gap: 5px;
    width: fit-content;
    background-color: aliceblue;
    margin-bottom: var(--bottoms);
}
.board * {
    width: min(128px, 30vw);
    height: min(128px, 30vw);
    cursor: pointer;
    background: var(--my-color);
}
.gamespace{
    display: flex;
    margin-bottom: var(--bottoms);
}
.name{
    font-size: min(36px, 7.6vw);
    font-weight: bold;
    margin-bottom: var(--bottoms);
    margin-top: var(--bottoms);
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: var(--my-size);
}

html{
    background: var(--my-color);
    height: 100%;
}
button{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    background: transparent;
    border: 2px solid aliceblue;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--my-size);
}
.choosers{
    display: flex;
    margin-bottom: var(--bottoms);
}
#diff{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    background: transparent;
    border: 2px solid aliceblue;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--my-size);
}
option{
    background: var(--my-color);
    font-size: var(--my-size);
}
form{
    padding: 0px min(18px, 3.8vw);
}
.userX, .compX, .userO, .compO{
    cursor: pointer;
}